body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('../picture/background.jpg');
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fffc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
.intro {
    margin-bottom: 30px;
}
